<h1>Welcome to the home page</h1>

<div class="row">
  <div class="col-md-8">
    {{#each model as |question|}}
      <div class="well">
        <h4>{{question.question}}</h4>
        <p>
          Tags: {{#each question.tags as |tag|}}<span class="label label-default">{{tag}}</span>{{/each}}
        </p>
        <div class="user">
          <img src="{{question.user.avatar}}" class="img-responsive">
          Posted by {{question.user.username}} on {{question.postDate}}
        </div>
      </div>
    {{/each}}
  </div>
</div>